body{
    background-color:#EA7500;
}

.navbar-expand-sm {
-ms-flex-flow: row nowrap;
flex-flow: row nowrap;
-ms-flex-pack: start;
justify-content: flex-end;/*文字靠右*/
}

.navbar-expand-sm .navbar-nav .nav-link {
padding-right: .5rem;
padding-left: .5rem;
color: white;/*上標題文字白色*/
}
.nav-inner{
    background-color: white;
    margin: 6%;
}
.img-responsive{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}
.img-second{
    width: 100%;
    height: 20%;
    margin-top: 10%;
    padding-right: 7%;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    
}

.log-lg-8{
    width: 50%;
}
.log-lg-4{
    width: 50%;
    margin: 0%;
    padding: 0%;
}
.yibo-text h2{
    text-align: center;
    padding-top: 8%;
}
.yibo-text p{
    text-align: justify;
    padding: 8%;
    margin-right: 7%;
}
.yibo-text.btn{
    display: flex;
    justify-content: center;
}
.btn-text {
background-color: transparent;
border-color: #EA7500;
display: flex;
justify-content: center;
width: 50%;
margin-left: 20%;
}
.btn-text a{
    color: #EA7500;
}
.btn:hover{
   
    background-color:#EA7500;
    
}
.btn-text a:hover{
    color: white; text-decoration: none;
}
.fancybox img{
    width: 100%;

}

#portfolio .col-12 {
display: inline-block;
margin: 0;
padding: 0;
width: 25%;
}   
#portfolio a, #portfolio img {
    display: inline-block;
    height: 100%;
    margin: 0 auto;
    width: 100%;
}
.competition{
    width: 100%;
}
.photo-item img{
width: 100%;
height: 50%;
cursor: pointer;
}
.col-sm img{
width: 100%;
}
.bg-success {
margin: 0;
padding: 0;
}
.text-midden{
padding: 8%;
}
.text-midden h2{
text-align: center;
}
#copyrights{
    background-color: #343a40!important;
    padding: 1% 0%;
}
.container-footer p{
    display: flex;
    justify-content: center;
    color: white;
    padding: 0%;
    margin: 0%;
}

/*All*/
/* 上面面板導航 */
.tablink {
    background-color:#EA7500;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2%;
    font-size: 22px;
    width: 25%;

  }
  
.tablink:hover {
    background-color:#FFA042;
  }
.tabcontent {
    color: white;
    padding: 8%;
    height:100%;
}


.panel{
    width: 100%;
    background-color:#f2f2f2;
    color: #000;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    margin-top: 8%;
    padding: 2%;
  

}
.panel p{
      font-size: 18px;
      padding: 5%;
      line-height: 150%;
      text-align: justify;
}
.all{
      width: 100%;
}
  #First {background-color:#f2f2f2;}
  #Water {background-color: #f2f2f2;}
  #Fire {background-color: #f2f2f2;}
  #End {background-color:#f2f2f2;}

  .col-lg-6 img{
    width: 100%;
    cursor: pointer;
}
.col-lg-6 {
    color: white;
    text-align: justify;

}



.leader-show h1{
    color: white;
    padding: 2% 6%;
}
.container .row{
    margin: 1% 0%;
}
 
  /*結束*/