*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
 }
body {
    font-family: '微軟正黑體','標楷體',Arial, sans-serif;
    box-sizing: border-box;
    background-color:#678097;
    padding-top: 5%;
    padding-bottom: 5%;
   
   
    
 }
.content{
   background-color:#dcd2c2;
   position: relative;
   width: 80%;
   left: 10%;
   right: 10%;
   border: 10px solid white; 
}

/*header*/
.header {
    margin: auto;
} 
.mySlides  {
    display:none;
}
.my-img{
    max-height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
}

.my{
    width: 100%;
    font-size: 120px;
    font-weight: bold;
    letter-spacing: 5px;
    color: white;
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
    position: absolute;
    z-index: 99;
}

/*item*/
.nav {
    display: flex;
    flex-wrap: nowrap;
    
}
.item {
    flex: 30%;
    background-color: #dcd2c2;
    
}

.nav-2 {
    flex-grow: 1;/*flex-grow 相反*/
    flex-shrink: 1;/*flex-shrink 縮小*/
    flex-basis: 60%;/*flex 元素在主轴方向上的初始大小*/
    background-color:#dcd2c2;
}
.i img{
  
  padding: 30px 50px;
  border-radius: 50%;
  width: 400px;
}
   

.name{
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 50px;
    text-align: center;
    
}
.name p{
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 2px;
    
}

.word{
  font-size: 22px;
  font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}


.word2{
  font-size: 20px;
  font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}



.information{
    font-size: 18px;
    padding: 30px;
    letter-spacing: 2px;
    line-height: 30px;
}
.information p{
    padding-top: 20px;
}
.school{
    font-size: 22px;
    font-weight: bold;
    padding-top: 20px;
} 

.school p{
    font-size: 18px;
    font-weight: normal;
    padding-left: 50px;
    padding-top: -10px;
}

.social{
  margin: 20px;
}
.social img{
    width: 60px;
    height: 60px;
    background-color: white;    
    margin: 10px;
    cursor: pointer;
} 
    




/*item nav-2*/
.family{
    padding: 180px 50px 0px 50px;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 30px;
}
h2{
    font-size: 32px; 
}


/*Programming Skill*/

@keyframes bounceInLeft {
    0% {
      opacity: 0;
      transform: translate3d(-3000px, 0, 0);
      /*translate3d (x,y,z)；x,y,z 分别带表水平垂直和z轴的位移*/
    }
  
    50% {
      opacity: 1;
      transform: translate3d(25px, 0, 0);
    }
  
    75% {
      transform: translate3d(-10px, 0, 0);
    }
  
    90% {
      transform: translate3d(5px, 0, 0);
    }
  
    100% {
      transform: none;
    }
  }
  
  @keyframes bounceInRight {
    0% {
      opacity: 0;
      transform: translate3d(0, 0, -3000px);
    }
  
    50% {
      opacity: 1;
      transform: translate3d(0, 0, 5px);
    }
  
    75% {
      transform: translate3d(0, 0, -10px);
    }
  
    90% {
      transform: translate3d(0, 0, 25px);
    }
  
    100% {
      transform: none;
    }
  }
  
  .skill {
    width: 100%;
    float: left;
    overflow: auto;/*預設會自動使用捲軸*/
 
  }
  .p{
      padding-left: 50px;
  }
  .container {
    width: 70%;
    background-color: #ddd;
    text-align: right;
    overflow: auto;
    border-radius: 40px;
    color: white;
  }


.skill p{
    font-size: 18px;
    line-height: 30px;
   
}
.skill h2{
    padding:50px;

}
.skills {
    background-color: #8EAB93;
    border-radius: 40px;
    height: 40px;
    animation: bounceInLeft 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite;
    transition: 0.5s;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.skills :hover
{
    background-color:  #8EAB93;
}

.java{width: 85%;}
.html {width: 85%;}
.css {width: 80%;}
.js {width: 65%; }
.php {width: 50%;}
.vb {width: 70%;}
.c {width: 60%;}




/*circle*/



/*Experience*/
.Experience h2{  
    font-size: 32px;
    display: flex;
    justify-content: center;
    background-color: wheat;
    border-radius: 25px;
    text-align: center;
    margin-top: 25px;
    padding: 20px;   
}

/*class01*/
.class01 h3{
    font-size: 22px;
    padding: 50px 30px 5px 30px;
}

.class01 img{
    width: 33%;
    height: 250px;
    padding: 10px 30px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}

/*article2*/
.article2 {
    display: flex;
    flex-wrap: nowrap;
    
}
.article-left {
    flex: 50%;    
}

.article-right {
    flex-grow: 1;/*flex-grow 相反*/
    flex-shrink: 1;/*flex-shrink 縮小*/
    flex-basis: 50%;/*flex 元素在主轴方向上的初始大小*/
}



.a{
  color: black;
  font-size: 16px;
 

  display: inline-block;
  border: none;
  vertical-align: inherit;
}
.a:hover{
  color: #678097;
}



.article-left img{
    width: 600px;
    padding: 50px 50px 0px 50px;
    height: 350px;
    cursor: pointer;
}
.article-right p{
    font-size: 18px;
    padding: 75px 50px 50px 50px;
    letter-spacing: 2px;
    line-height: 30px;
}


/*class02*/
.class02 h3{
    font-size: 22px;
    padding: 50px 30px 5px 30px;
}

.class02 img{
    width: 33%;
    height: 250px;
    padding: 10px 30px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}
.article-left img{
    width: 600px;
    padding: 50px 50px;
    height: 350px;
    cursor: pointer;
}


/*class03*/

/*class02*/
.class03 h3{
    font-size: 22px;
    padding: 50px 30px 5px 30px;
}

.class03 img{
    width: 33%;
    height: 250px;
    padding: 10px 30px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}
.article-left img{
    width: 600px;
    padding: 50px 50px;
    height: 350px;
    cursor: pointer;
}




/*club*/

.activity h2{
  font-size: 32px;
  display: flex;
  justify-content: center;
  background-color: wheat;
  border-radius: 25px;
  text-align: center;
  margin-top: 25px;
  padding: 20px;
}


.film h3{
    font-size: 22px;
    padding: 50px 30px 5px 30px;
}



.experience01 {
    display: flex;
    flex-wrap: nowrap;
    
}
.experience-left {
    flex: 50%;    
}

.experience-right {
    flex-grow: 1;/*flex-grow 相反*/
    flex-shrink: 1;/*flex-shrink 縮小*/
    flex-basis: 50%;/*flex 元素在主轴方向上的初始大小*/
}
.experience-left img{
    width: 600px;
    padding: 50px 50px;
    height: 350px;
}
.experience-right p{
    font-size: 18px;
    padding: 75px 50px 50px 50px;
    letter-spacing: 2px;
    line-height: 30px;
}


/*outside*/

.activity h2{
  font-size: 32px;
  display: flex;
  justify-content: center;
  background-color: wheat;
  border-radius: 25px;
  text-align: center;
  margin-top: 25px;
  padding: 20px;
}


.people h3{
    font-size: 22px;
    padding: 50px 30px 5px 30px;
}



.experience02 {
    display: flex;
    flex-wrap: nowrap;
    
}
.experience02-left {
    flex: 50%;    
}

.experience02-right {
    flex-grow: 1;/*flex-grow 相反*/
    flex-shrink: 1;/*flex-shrink 縮小*/
    flex-basis: 50%;/*flex 元素在主轴方向上的初始大小*/
}
.experience02-left img{
    width: 600px;
    padding: 50px 50px;
    height: 350px;
}
.experience02-right p{
    font-size: 18px;
    padding: 75px 50px 50px 50px;
    letter-spacing: 2px;
    line-height: 30px;
}


/*全方位*/

.container2{
  
  width: 100%;
  
}

.container2 img{
  display: block;
    width: 600px;
    padding: 50px 50px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    
}


.over1 {
  position: absolute; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  transition: .8s ease;
  opacity:0;
  width: 35%;
  font-size: 30px;
  font-weight: bold;
  margin: -90px 90px 25px 90px;
  z-index: 99;
  text-align: center;

}

.container2:hover .over1 {
  opacity: 1;
}




.outside img{
  width: 33%;
  height: 250px;
  padding: 10px 30px 50px 30px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  
}


.class01 .article-left img:hover {
  animation: 0;
  
}
.class02 .article-left img:hover {
  animation: 0;
  
}
.class03 .article-left img:hover {
  animation: 0;
  
}
.outside .article-left img:hover {
  animation: 0;
  
}
.class01 img:hover {
  animation: shake 0.6s;
  animation-iteration-count: infinite;
}
.class02 img:hover {
  animation: shake 0.6s;
  animation-iteration-count: infinite;
}
.class03 img:hover {
  animation: shake 0.6s;
  animation-iteration-count: infinite;
}
.outside img:hover {
  animation: shake 0.6s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); } 
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


.footer{
  font-size: 18px;
  font-weight: bold;
  background-color: #8EAB93;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}


